@font-face{
	font-family: "oswald";
	src:url("/public/fonts/Oswald-Light.ttf");
}


body {
    background-image: url("/public/img/background.png");
    background-repeat: repeat-y repeat-x;
}

#drawing-container{
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	display: inline-block;

}

#drawing-container form{
	display:inline-block;
}

#cover.img{
	max-width: 100%;
	height: auto;
}

#code-container{;
	text-align: center;
}

#drawing{
	width:100%;
	height:480px;
}

h1{
	text-decoration: none;
	font-family:oswald, sans-serif;
	color: #c5c3b3;
	text-transform: uppercase;
}

.description{
	font-family:oswald, sans-serif;
	font-size: 16px;
	color: #c5c3b3;
}

.btn-oswald{
	text-transform: uppercase;
	text-decoration: none;
	font-family:oswald, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: 200;
	color: #c5c3b3;

}

.btn-oswald:hover{
	text-decoration: none;
    color: #404040;
}